[[bin]]
name = 'hogan'
path = 'src/main.rs'
doc = false

[package]
name = 'hogan'
version = '0.8.4'
authors = [
    'Jonathan Morley <jmorley@cvent.com>',
    'Josh Comer <jcomer@cvent.com>',
]
edition = '2018'

[dependencies]
failure = '0.1'
lru_time_cache = '0.10'
handlebars = '3'
itertools = '0.9'
json-patch = '0.2'
log = '0.4'
serde_derive = '1'
serde_json = '1'
shellexpand = '2.0'
stderrlog = '0.4'
structopt = '0.3'
tempfile = '3'
url = '2'
walkdir = '2'
zip = '0.5'
dogstatsd = '0.6'
actix-web = '2'
actix-rt = '1'
actix-service = '1'
futures = '0.3'
parking_lot = '0.11'
bincode = '1.3'
lazy_static = '1'
crossbeam-channel = '0.4'
threadpool = '1.8'

[dependencies.tokio]
version = '0.2'
features = ['blocking']

[dependencies.rusqlite]
version = '0.23'
features = ['bundled']

[dependencies.git2]
version = '0.13'
features = ['vendored-openssl']

[dependencies.regex]
version = '1'
default-features = false

[dependencies.serde]
version = '1'
features = ['rc']

[dev-dependencies]
assert_cmd = '1.0'
dir-diff = '0.3'
fs_extra = '1'
predicates = '1'
