[package]
name = "hogan"
version = "0.5.0"
authors = ["Jonathan Morley <jmorley@cvent.com>"]
edition = "2018"

[[bin]]
name = "hogan"
path = "src/main.rs"
doc = false

[dependencies]
failure = "0.1"
git2 = "0.10"
lru_time_cache = "0.9.0"
handlebars = "2"
itertools = "0.8"
json-patch = "0.2"
log = "0.4"
regex = { version ="1", default-features = false }
serde = "1"
serde_derive = "1"
serde_json = "1"
shellexpand = "1"
stderrlog = "0.4"
structopt = "0.2"
tempfile = "3"
url = "2"
walkdir = "2"
zip = "0.5"
rocket = { version = "0.4", default-features = false }
rocket_contrib = "0.4"
rocket_lamb = "0.6"
dogstatsd = "0.6"

[dev-dependencies]
assert_cmd = "0.11"
dir-diff = "0.3"
fs_extra = "1"
predicates = "1"
