[package]
name = "hogan"
version = "0.2.2"
authors = ["Jonathan Morley <jmorley@cvent.com>"]

[[bin]]
name = "hogan"
path = "src/main.rs"
doc = false

[dependencies]
failure = "0.1"
git2 = "0.7"
handlebars = "0.32"
itertools = "0.7"
json-patch = "0.2"
log = "0.4"
regex = "1"
rouille = "2"
serde = "1"
serde_derive = "1"
serde_json = "1"
shellexpand = "1"
stderrlog = "0.4"
structopt = "0.2"
tempfile = "3"
url = "1"
walkdir = "2"
zip = "0.4"

[dev-dependencies]
assert_cli = "0.5.4"
