[[bin]]
name = 'hogan'
path = 'src/main.rs'
doc = false

[package]
name = 'hogan'
version = '0.7.4'
authors = [
    'Jonathan Morley <jmorley@cvent.com>',
    'Josh Comer <jcomer@cvent.com>',
]
edition = '2018'

[dependencies]
failure = '0.1'
git2 = '0.12'
lru_time_cache = '0.9.0'
handlebars = '3'
itertools = '0.9'
json-patch = '0.2'
log = '0.4'
serde_derive = '1'
serde_json = '1'
shellexpand = '2.0.0'
stderrlog = '0.4'
structopt = '0.3'
tempfile = '3'
url = '2'
walkdir = '2'
zip = '0.5'
dogstatsd = '0.6'
actix-web = '2'
actix-rt = '1'
actix-service = '1'
futures = '0.3'
parking_lot = '0.10'

[dependencies.regex]
version = '1'
default-features = false

[dependencies.serde]
version = '1'
features = ['rc']

[dev-dependencies]
assert_cmd = '0.12'
dir-diff = '0.3'
fs_extra = '1'
predicates = '1'
